<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Automóvil</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-4">
    <h2 th:text="${automovil.id==null ? 'Agregar Nuevo Automóvil' : 'Editar Automovil'}"></h2>
    <form action="/guardar-auto" th:object="${automovil}" method="post">
      <div th:if="${automovil.id==null}">
        <label>Patente:</label>
        <input type="text" name="patente" th:field="*{patente}" class="form-control" required>
      </div>
      <div th:if="${automovil.id!=null}">
        <label>Patente:</label>
        <input type="text" name="patente" th:field="*{patente}" class="form-control" required readonly>
      </div>
      <label>Marca:</label>
      <input type="text" name="marca" th:field="*{marca}" class="form-control" required>
      <label>Modelo:</label>
      <input type="text" name="modelo" th:field="*{modelo}" class="form-control" required>
      <label>Color:</label>
      <input type="text" name="color" th:field="*{color}" class="form-control" required>
      <label>DNI Dueño:</label>
      <input type="number" name="duenio" th:field="*{duenio}" class="form-control" required>
      <input type="hidden" name="id" th:field="*{id}" required>
      <input type="hidden" name="estado" th:field="*{estado}" class="form-control" required>
      <button type="submit" class="btn btn-success mt-3"
        th:text="${automovil.id==null ? 'Agregar' : 'Editar'}"></button>
    </form>
  </div>
</body>

</html>